.sort-control {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: white;
    position: relative;

    button {
        margin-left: 12px;
        background: unset;
        width: 150px;
        border: none;
        color: white;
        cursor: pointer;
        padding: 6px 12px;
        font-size: 16px;
        transition: background-color 0.2s;
        text-align: end;
        line-height: 16px;

        &:hover {
            background-color: #e5091466;
        }

        &.active {
            background-color: #e50914ff;

            &:hover {
                background-color: #e50914cc;
            }
        }

        span {
            font-size: 24px;
            color: #e50914;
        }
    }

    .menu-popup {
        position: absolute;
        right: 0;
        width: 150px;
        margin-top: 32px;
        padding: 6px 12px;
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        transition: border-color 0.2s;

        button {
            display: block;
            width: 100%;
            margin-left: 8px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            
            &:hover {
                background-color: #e5091466;
            }
    
            &.active {
                background-color: #e50914ff;
    
                &:hover {
                    background-color: #e50914cc;
                }
            }
        }
    }
}